---
import MainLayout from "../layouts/MainLayout.astro";
let posts = await Astro.glob("../pages/blog/*.md");
---
<MainLayout>
  <div class="mt-16">
</div>
  <section class="w-full mb-4">
    <input type="text" class="h-11 w-full boder rounded px-4 bg-transparent focus:border-b" placeholder="buscar...">
    <!-- <button class="bg-black text-white px-4 py-2">Buscar</button> -->
  </section>
  <section>
  {posts.map(post=>(
    <div class="mb-6 w-full bg-white/70 dark:bg-[#181f3a]/80 border border-blue-200 dark:border-blue-900/40 rounded-xl shadow-md hover:shadow-xl transition p-5 group">
      <a href={post.url} class="no-underline">
        <h3 class="text-lg md:text-xl font-bold text-zinc-800 dark:text-zinc-100 group-hover:text-blue-700 dark:group-hover:text-blue-300 transition-colors">{post.frontmatter.title}</h3>
      </a>
      <p class="text-sm text-zinc-600 dark:text-zinc-300 mt-2">{post.frontmatter.description}</p>
    </div>
  ))}
  </section>
  <script type="module">
    console.log(posts)

  </script>
</MainLayout>
