---
import NavAlter from '../components/Nav';
const {title}=Astro.props
import moment from 'moment'
let year = moment().format('YYYY')
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beimer Campos</title>
</head>
<body class="bg-white dark:bg-zinc-800 dark:text-zinc-300 grid place-items-center bg-no-repeat bg-auto" >
  <!-- <Nav/> -->
  <NavAlter client:only="react"/>
  <div class="max-w-5xl px-6">
  <slot/>
  </div>
	<footer class="py-2 bg-zinc-200 dark:bg-zinc-900 w-full mt-5">
  <div class="mx-auto text-center text-sm">
   {year} created by dbeimer 
  </div>
  </footer>
  <script>

    const elemento = document.documentElement;
    const dark=localStorage.theme==="dark"||window.matchMedia("(prefers-color-scheme: dark)").matches;
    if (dark) {
      if (!elemento.classList.contains("dark")) {
        elemento.classList.add("dark");
      }
    } else {
      elemento.classList.remove("dark");
    }
  </script>
</body>
</html>
